body{
    background-color: #b2bec3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-transform: capitalize;
}

header{
    background-color: #636e72;
    width: 100%; border-radius: 0.25ch;
    height: 65px;
    text-align: center;
}

#Container{
    padding: 20px;
}